<h1>About Facematch..!!!</h1>

<p>FaceMatch is an application open to all where users can create their profiles and manage them. There is a small game attached where users will be asked to recognize the person, correct answer fetches 1 point and wrong answer gives no points. You can skip the question by clicking next or end Quiz to see the score..... Register and enjoy..!!!</p>

<p>    :) (:    </p>